.con-form {
    border: 1px solid #E1E6EB;
    margin-top: 20px;
    max-width: 800px;
    background-color: #FFF;
    padding-bottom: 50px;
    border-radius: 3px;

    .con-form-details {
        position: relative;
        margin-left: auto;
        margin-right: auto;
        float: none!important;
        width: 85%;
    }
}

.columns {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    float: none!important;
}