@import "styles-variables";

@import '~bootstrap/scss/bootstrap-reboot';
@import '~bootstrap/scss/bootstrap-grid';

.row {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.container {
    overflow-y: auto;
    .con-form {
        border: 1px solid #E1E6EB;
        margin-top: 20px;
        max-width: 800px;
        background-color: #FFF;
        padding-bottom: 25px;
        border-radius: 3px;
        
        .con-form-header {
            border-bottom: 1px solid #E1E6EB;
            height: 76px;
            font-size: 15px;
            padding: 30px;
        }
        .con-form-body {
            width: 85%;
            margin-top: 30px;
            margin-left: auto;
            margin-right: auto;
        }
    }
    .centered {
        position: relative;
        margin-left: auto;
        margin-right: auto;
        float: none!important;
    }
}
